# Servidor NestJS
PORT=3008
NODE_ENV=development

# Configuración Base de Datos (PostgreSQL)
POSTGRES_PORT=5438
POSTGRES_DB=ms_ventas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Cadena de conexión para Prisma (Local / Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5438/ms_ventas?schema=public"

# URLs Microservicios Dependientes (Para HTTP-Join)
MS_INVENTARIO_URL="http://localhost:3007/api/v1"
MS_ENTIDADES_CORE_URL="http://localhost:3001/api/v1"